FileSystem/Client/Service References/VfsService/VirtualFileSystem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VirtualFileSystem" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29620/VirtualFileSystem.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29620/VirtualFileSystem.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVirtualFileSystem_CreateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateItem" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_CreateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_RemoveItem_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItem" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_RemoveItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveItemResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_CopyItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CopyItem" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_CopyItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CopyItemResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_MoveItem_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveItem" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_MoveItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveItemResponse" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_ShowItemsInFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowItemsInFolder" />
  </wsdl:message>
  <wsdl:message name="IVirtualFileSystem_ShowItemsInFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowItemsInFolderResponse" />
  </wsdl:message>
  <wsdl:portType name="IVirtualFileSystem">
    <wsdl:operation name="CreateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualFileSystem/CreateItem" message="tns:IVirtualFileSystem_CreateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualFileSystem/CreateItemResponse" message="tns:IVirtualFileSystem_CreateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualFileSystem/RemoveItem" message="tns:IVirtualFileSystem_RemoveItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualFileSystem/RemoveItemResponse" message="tns:IVirtualFileSystem_RemoveItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CopyItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualFileSystem/CopyItem" message="tns:IVirtualFileSystem_CopyItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualFileSystem/CopyItemResponse" message="tns:IVirtualFileSystem_CopyItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualFileSystem/MoveItem" message="tns:IVirtualFileSystem_MoveItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualFileSystem/MoveItemResponse" message="tns:IVirtualFileSystem_MoveItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowItemsInFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IVirtualFileSystem/ShowItemsInFolder" message="tns:IVirtualFileSystem_ShowItemsInFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVirtualFileSystem/ShowItemsInFolderResponse" message="tns:IVirtualFileSystem_ShowItemsInFolder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVirtualFileSystem" type="tns:IVirtualFileSystem">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateItem">
      <soap:operation soapAction="http://tempuri.org/IVirtualFileSystem/CreateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveItem">
      <soap:operation soapAction="http://tempuri.org/IVirtualFileSystem/RemoveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopyItem">
      <soap:operation soapAction="http://tempuri.org/IVirtualFileSystem/CopyItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveItem">
      <soap:operation soapAction="http://tempuri.org/IVirtualFileSystem/MoveItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowItemsInFolder">
      <soap:operation soapAction="http://tempuri.org/IVirtualFileSystem/ShowItemsInFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VirtualFileSystem">
    <wsdl:port name="BasicHttpBinding_IVirtualFileSystem" binding="tns:BasicHttpBinding_IVirtualFileSystem">
      <soap:address location="http://localhost:29620/VirtualFileSystem.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>